{% extends "base.html" %}

{% block content %}
<a href="/">Back home</a>

<main class="about">
  <h1>About me</h1>

  <h2>Experience</h2>
  <div>
    <h3>Backend and infrastructure developer</h3>
    <em>Airnity</em>
    <span>January 2022 - Present</span>
    <p>Devops, infrastructure and tooling on Airnity cellular connectivity platform.</p>
  </div>

  <div>
    <h3>Software development engineer</h3>
    <em>Sierra Wireless</em>
    <span>April 2017 - December 2021</span>
    <p>Devops, infrastructure and tooling on AirVantage IoT platform.</p>
  </div>

  <div>
    <h3>Software developer</h3>
    <em>Lomaco</em>
    <span>September 2012 - April 2017</span>
    <p>Developed and maintained a fleet tracking and management web application.</p>
  </div>

  <div>
    <h3>Apprentice software developer</h3>
    <em>Fédération Départementale d'énergies du Lot</em>
    <span>September 2011 - September 2012</span>
    <p>Developed an internal electrical network web mapping utility.</p>
  </div>

  <div>
    <h3>Apprentice project manager</h3>
    <em>Barde Sud-Ouest</em>
    <span>September 2010 - September 2011</span>
    <p>Designed, planned and realized public lighting and building illumination projects.</p>
  </div>

  <h2>Education</h2>

  <div>
    <h3>IUT STID Carcassonne</h3>
    <em>Bachelor degree in web Geographic Information Systems</em>
    <span>2011 - 2012</span>
  </div>

  <div>
    <h3>ISFME St Affrique</h3>
    <em>Bachelor degree in public lighting and power networks</em>
    <span>2010 - 2011</span>
  </div>

  <div>
    <h3>Lycée Gaston Monnerville Cahors</h3>
    <em>Senior technician degree in electrical engineering</em>
    <span>2008 - 2010</span>
  </div>
</main>
{% endblock content %}
