<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="theme-color" content="#282b3c" />
  <title>Adrien Driffaud</title>
  <link rel="stylesheet" href="{{ get_url(path='style.css') }}" />
  <link rel="icon" href="data:;base64,=" />
</head>

<body>
  <header>
    <nav>
      <a href="{{ get_url(path='/') }}">Adrien Driffaud</a>
      -
      <a href="{{ get_url(path='/resume') }}">Resume</a>
      -
      <a href="{{ get_url(path='/gallery') }}">Gallery</a>
    </nav>
  </header>

  {% block content %}
  {% endblock %}
</body>

</html>
