{% extends "base.html" %}

{%- block title -%}
  {{ super() }}
  {%- set title_addition = "" %}

  {%- if page.title and config.title -%}
    {%- set title = page.title %}
    {%- set title_addition = title_separator ~ config.title %}
  {%- elif page.title -%}
    {%- set title = page.title %}
  {%- else -%}
    {%- set title = config.title %}
  {%- endif -%}

  {{ macros_head::title(title=title, title_addition=title_addition, description=description, type="article", is_page=true, created_time=created_time, updated_time=updated_time, page_section=page_section) }}
{%- endblock title %}

{%- block content -%}
<main>
  <h1 class="title">
    {{ page.title }}
  </h1>
  <p class="subtitle"><strong>{{ page.date }}</strong></p>
  {{ page.content | safe }}
</main>
{%- endblock content %}
